.navigation {
  width: 100%;
  padding: 4rem;
  height: 10rem;
  top: 0;
  display: flex;
  justify-content: flex-start;
  z-index: 1000;
  background-color: transparent; /* Maak de achtergrond transparant */
  position: absolute; /* Gebruik absolute positie om over de header te zweven */
}

.navigation__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
}

.navigation__button {
  margin-left: 9rem;
  cursor: pointer;
  padding-right: 12px 17px;
  
  background-color: transparent;
  color: #ffffff;
  border: none;
  font-size: 3rem;
  text-decoration: none;
  position: relative;

  &:hover::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    bottom: 1;
    left: 0;
    animation: underline-animation 0.3s ease;
  }
}

@keyframes underline-animation {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.navigation__image{
  display: flex;
  align-items: center;
  justify-content: center;


}

.navigation__image img{
  height: 20rem;
  width: 20rem;


}




/* Voeg dit toe aan het bestaande CSS-bestand */

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #e60000;
  margin: 6px 0;
  transition: 0.4s;
}

@media screen and (max-width: 62.5rem) {
  .navigation__buttons {
    display: none;
    flex-direction: column; /* Verander de richting naar column */
    align-items: flex-start;
    position: absolute; /* Zorg ervoor dat het menu de volledige breedte van het scherm inneemt */
    top: 5rem; /* Pas deze waarde aan op basis van je ontwerp */
    right: 0;
    padding: 1rem;
    z-index: 1000;
  }

  .navigation__button {
    font-size: 2.2rem;
    padding: 1rem;
    margin: 0.5rem;
    background-color: rgba(255, 255, 255, 0.1);
 
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }

  .navigation__button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #ffffff;
  }

  .navigation__image img {
    position: relative;
    right: 4rem;
  }

  .navigation.open .navigation__buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    gap: 2rem;
  }


  .hamburger {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 2000;
  }

  .navigation.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .navigation.open .bar:nth-child(2) {
    opacity: 0;
  }

  .navigation.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

