.project-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 2rem;
}

.project-item {
  flex: 1 0 calc(20.3333% - 20px);
  box-sizing: border-box;
  position: relative;
}

.image-with-text {
  position: relative;
  cursor: pointer;
}

.image-with-text img {
  width: 100%;
  max-width: 40rem;
  height: 22rem;
  border-radius: 2rem;
}

.image-with-text p {
  color: white;
  background-color: rgba(0, 0, 0, 70%);
  border-radius: 0rem 0rem 2rem 2rem;
  text-align: left;
  position: absolute;
  justify-content: center;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  bottom: 0.4rem;
  white-space: pre-line;
}

.werk-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.werk-figure,
.werk-article {
  flex-basis: 50%;
  box-sizing: border-box;
  margin-top: 3rem;

 
}

.werk-article{
  background-color: #ffffff;
   border: solid 0.2rem  black;
   border-radius: 2rem;
  height: 40rem;
  overflow: scroll;

}


.werk-article h3{
  font-size: 3rem;
  padding: 2rem;
}


.werk-article p{
  padding: 2rem;
  font-size: 1.90rem;
}

/* .werk-article p{

  font-size: 2.2rem;
} */

.werk-figure img {
  justify-content: center;
  align-items: center;
  object-fit: cover;
  height: 40rem;
  width: 70rem;
  border-radius: 5px;
}

@media screen and (max-width: 62.5rem) {
  .project-item {
    flex: 1 0 100%; /* Set flex-basis to 100% for stacking on smaller screens */
  }

  .image-with-text img {
    max-width: 100%;
  }

  .image-with-text p {
    width: calc(100% - 20px);
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 70%);
    text-align: left;
    justify-content: center;
    width: 100%;
    text-align: left;
    border-radius: 0rem 0rem 2rem 2rem;
    font-size: 16px;
    bottom: 0.4rem;
  }
  .werk-figure {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-top: 3rem;
    flex: 1 0 100%;

  }

  .werk-figure img{
    max-width: 100%;
  }
  .werk-article {
    flex-basis: 100%;
  }
}
