.project-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 2rem;
}

.project-item {
  flex: 1 0 calc(20.3333% - 20px);
  box-sizing: border-box;
  position: relative;
}

.image-with-text {
  position: relative;
  cursor: pointer;
  
}

.image-with-text img {
  width: 100%;
  max-width: 40rem;
  height: 22rem;
  border-radius: 2rem;
 
}


.image-with-text:hover p {
  background-color: rgba(0, 0, 0, 90%); /* Adjust the background color on hover */
}




.image-with-text p {
  color: white;
  background-color: rgba(0, 0, 0, 70%);
  border-radius: 0rem 0rem 2rem 2rem;
  text-align: left;
  position: absolute;
  justify-content: center;
  width: 100%;
  padding: 10px;
  font-size: 1.7rem;
  bottom: 0.4rem;
  white-space: pre-line;
  transition: 0.2s ease-in;
}


.werk-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.werk-figure,
.werk-article {
  flex-basis: 50%;
  box-sizing: border-box;
  margin-top: 3rem;



 
}

.werk-article{
  background-color: #ffffff;
   border: solid 0.2rem  black;
   border-radius: 2rem;
  height: 40rem;
  padding: 4rem;
  overflow: scroll;
  text-align: left;

}


.werk-article h3{
  font-size: 3.2rem;
  padding: 1.5rem;
}


.werk-article p{
  padding: 1.5rem;
  font-size: 1.8rem;
}

/* .werk-article p{

  font-size: 2.2rem;
} */

.werk-figure img {
  justify-content: center;
  align-items: center;
  object-fit: cover;
  height: 40rem;
  width: 70rem;
  border-radius: 5px;

  
}



/* Nieuwe stijlen voor de slider en knoppen */
.werk-figure {
  position: relative;
}

.slider-container {
  position: relative;
  overflow: hidden;
}

.slider-images {
  display: flex;
  transition: transform 0.5s ease-in-out; 
}

.slider-image {
  flex: 0 0 100%; /* Adjust this width as needed */
  box-sizing: border-box;
}

.slider-images > * {
  margin-right: 15px; /* Adjust the spacing between images */
}

.slider-buttons {
  position: absolute;
  display: flex;
  bottom: 20px; 
  left: 44%;
  transform: translateX(-50%);
  width: calc(100% - 16px); 
  justify-content: center;
}

/* Stijlen voor de knoppen */
.slider-button {
  background-color: #ffffff;
  color: black; 
  border: none;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  font-size: 18px;
  margin: 0 4px;
  outline: none;
  transition: background-color 0.3s ease; 
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);


}

.active,
.slider-button:hover {
  background-color: #ff0000;
  color: white;

}



@media screen and (max-width: 62.5rem) {
  .project-item {
    flex: 1 0 100%; 
  }

  .image-with-text img {
    max-width: 100%;
  }

  .image-with-text p {
    width: calc(100% - 20px);
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 70%);
    text-align: left;
    justify-content: center;
    width: 100%;
    text-align: left;
    border-radius: 0rem 0rem 2rem 2rem;
    font-size: 16px;
    bottom: 0.4rem;
  }
  .werk-figure {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-top: 3rem;
    flex: 1 0 100%;
    width: 100%;

  }

  .werk-figure img{
    max-width: 100%;
  }
  .werk-article {
    flex-basis: 100%;
  }

  .slider-button {
    position: relative;
    left: 2.90rem;

  }

  .slider-images {
    flex-wrap: nowrap; 
  }
}
